{erl_opts, [no_debug_info]}.
{deps, [{uri, {git, "https://github.com/heroku/uri.git"}},
       eper,
       getopt
       ]}.

{escript_incl_apps,
 [redrum, uri, getopt]}.
{escript_main_app, redrum}.
{escript_name, redrum}.
{escript_emu_args, "%%! -escript main redrum_escript +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
