%% vendorise all repos
{default_mapping,
             [
              ]
          }.
{deps, []}.
{paths, [{"basho",
                 [{host, {'*', "ddc-git.spine2.ncrs.nhs.uk"}},
                  {scheme, {'*', ssh}},
                  {port, {'*', 22}},
                  {userinfo, {'*', "git"}}]
         }]
      }.

{hosts, [{"github.com",
             [{scheme, {'*', https}},
              {port, {'*', 443}}]
         }]}.


%% {scheme, {'*', ssh}},
%%              {host, {'*',"git-mw.uk365office.co.uk"}},
%%              {path, {'*', "russellbrown"}},
%%              {userinfo, {'*', "git"}},
%%              {port, {'*', 22}},
%%              {rev, {'*', {branch, "bet365-ee-2.6.1"}}}

